/* Всеобщий стиль для всех страниц */
body {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
}

/* Стиль заголовка */
header {
  background-color: #5faee3;
}

/* Стиль навигации */
nav {
  background-color: #5bda91;
  display: flex; /* Обновлено: использовать flex для горизонтального расположения */
  justify-content: space-around; /* Обновлено: равномерное расположение элементов навигации */
  align-items: center;
}

/* Стиль изображений в навигации */
nav img {
  width: 30px; /* Обновлено: изменить размер изображений в навигации */
}

/* Стиль основной секции */
main {
  background-color: #ecf0f1;
  font-size: 18px;
}

/* Стиль футера */
footer {
  background-color: #263545;
}

/* Стиль заголовка h1 */
h1 {
  text-align: center;
  font-family: 'Helvetica', sans-serif;
  color: #e74c3c;
}

/* Стиль абзацев */
p {
  line-height: 1.5;
}

/* Стиль класса grid: сетка из 2 столбцов */
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Обновлено: сетка из двух равных столбцов */
  gap: 20px; /* Обновлено: промежутки между столбцами */
}

/* Стиль изображений в классе grid: установить ширину на 100% */
.grid img {
  width: 100%;
}

/* Стиль класса flex: использовать flex */
.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
